body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  font-size: 25px;
  padding: 20px;
}

.left-nav {
  /*height: 100vh;*/
}

.left-nav .nav-item {
  padding: 30px 10px;
  border-bottom: solid 2px #ddd;
}

.feature-container {
  /*height: 100vh;*/
  padding: 20px;
  border-left: solid 2px #ddd;
}

.stream-list {
  margin: 20px 0;
}

.stream-list .stream {
  margin: 20px 0;
  border-bottom: solid 1px #ddd;
}
